<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
        <p>Lugar para poner la barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="images/img-home-banner.jpg" width="360" alt="Banner de oferta">
    </section>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" width="360" alt="Macbook">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy s10</h4>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="Tv Samsung Smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SamartTv Samsung 43'</h4>
            </article>
        </section>




        <section>
            <h3>Seccion de Ofertas</h3>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>
            </article>

            <article>
                <img src="images/img-macbook-pro-2019.jpg" width="360" alt="Macbook">
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>
            </article>

            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy s10</h4>
            </article>

            <article>
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="Tv Samsung Smart">
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SamartTv Samsung 43'</h4>
            </article>
    </main>
    <footer>
        <section>
            <article>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>ConMercadoLiebreCash,tenéscuotassininteréscontarjetaoefectivoenpuntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article>
                <h3>Envio gratis desde los %2.500</h3>
                <p>Soloporestarregistrad@enMercadoLiebretenésenvíosgratisenmilesdeproductos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article>
                <h3>Seguridad de principio a fin</h3>
                <p>¿Notegusta?¡Devolvelo!EnMercadoLiebre,nohaynadaquenopuedashacer,porque estás siempre protegid@.</p>
            </article>

            <article>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </article>
        </section>

    </footer>
</body>
</html>