*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    background-color:#EAC926 ;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    padding: 5%;
}

header div.logo{/*Saque la medida de html, le aplique porcentaje y lo centre*/
    width:90%;
    margin: auto;
}
header div.logo{
    padding: 10%;
}
header nav{
    font-size: 12px;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
}


header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
/*article div.main-article{
     width: 100%;
}*/

.price{
    font-size: 18px;
}

.dicount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
}


main section article{
    background-color: #FFF;
}

main section article img{
    width: 100%;
}

main section article i,.discount{
    color:#39b54a;
}

p.info-compra{
    color: gray;
    font-size: 20px;
}

.all-foot{
    text-align: center;
    line-height: 28px;
    padding: 5%
}

.all-foot h4{
    text-align: left;
}
footer div.icono{
    font-size: 500%;/*Los icono se comportan como parte de la fuente solo varian si le aplicas font-size*/
    /*color: red;*/
    background-position: center center;
}

main{/*Principio de Microdesafio paso 1 11/09/2021 */
    width: 90%;
    padding: 40px;
    margin: auto;
}

.products article{
    margin: 10px;
}
.main-article{
    border: solid 1px #ebebeb;
    padding: 15px;
}

/* fin paso 1*/
/*Paso 2*/

@media (min-width: 361px){/*Tablet*/
    .description{
        display: none;
    }
    .navegacion{
        display: none;
    }
}

@media (min-width: 769px){/*desktop*/
     .products article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .description{
        display: block;
    }
    .navegacion{
        display: block;
    }
     .burger-menu{
         display: none;
     }
}
/*Fin paso 2*/


